@font-face {
    font-family: 'edosz';
    src: url('./fonts/edosz.eot');
    src: url('./fonts/edosz.eot') format('embedded-opentype'),
         url('./fonts/edosz.woff2') format('woff2'),
         url('./fonts/edosz.woff') format('woff'),
         url('./fonts/edosz.ttf') format('truetype'),
         url('./fonts/edosz.svg#edosz') format('svg');
}
