@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	src: url('./fonts/Robot-Regular.ttf') format(‘truetype’)
}
@font-face {
	font-family: 'Roboto';
	font-weight: 400;
    font-style: italic;
	src: url('./fonts/Robot-italic.ttf') format(‘truetype’)
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	src: url('./fonts/Robot-Bold.ttf') format(‘truetype’)
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
    font-style: italic;
	src: url('./fonts/Robot-BoldItalic.ttf') format(‘truetype’)
}