/*
mini guide abréviation emmet pour le html : 
https://nouvelle-techno.fr/articles/utiliser-emmet-pour-accelerer-le-developpement
*/
/*
Unités de dimension les plus utilisés en web

px          =>  Pixel
em          =>  cadratin : unité de mesure en print sur les presses. 
                le cadratin se calcul part rapport à la taille de la police dans l'élément parent
rem         =>  cadratin racine : se calcul part rapport à la taille de la police dans l'élément racine
%           =>  Pourcentage, de l'espace disponible autour de l'élément
vw & vh     =>  vw : viewport width; vh : viewport height

*/

/*

sélecteur CSS :
    ATTENTION : en CSS, on impacte tous les éléments correspondants aux sélecteurs écrit
    
    sélecteurs simples : balise, identifiant et par classe
        p                   => tous les éléments p rencontrés dans le document
                            pas de caractère spécial devant l'élément donc il s'agit d'une balise
        #special            => l'élément ayant comme attribut id="special"
                            le caractère # indique qu'on se réfère à l'id
                            => les id sont uniques dans la page
        .titreDeChapitre    => les éléments ayant au moins la class="titreDeChapitre" 
                            le caractère . indique qu'on se réfère à une classe
                            => ATTENTION : si un élément class="titreDeChapitre toto tata" comme il possède au moins
                            la classe titreDeChapitre alors il sera trouvé
    Sélecteur avancés : selon les attributs                                  
        [data-test]                     => les éléments ayant au moins un attribut nommé data-test
        [alt]                           => les éléments ayant au moins un attribut alt
        [data-test="toto"]              => les éléments ayant au moins un attribut nommé data-test="toto"
        [data-col][data-line]           => les éléments ayant au moins un attribut data-col ET un attribut data-line
        [data-col="3"][data-line]       => les éléments ayant au moins un attribut data-col="3" ET un attribut data-line
        [data-col][data-line="2"]       => les éléments ayant au moins un attribut data-col ET un attribut data-line="2"
        [data-col="3"][data-line="2"]   => les éléments ayant au moins un attribut data-col="3" ET un attribut data-line="2"

    Sélecteur avancés : mélange des sélecteurs simples et ou de sélecteurs avancés
        h3.titreDeChapitre  => tous les titre h3 ayant la classe titreDeChapitre
                            si l'élément et la classe sont collés, c'est que l'élément doit avoir au moins cette classe
        article #special    => un élément avec id="special" enfant direct OU indirect d'un élément article
                            si l'élément et l'id recherché sont séparés, cela indique une filiation directe ou indirecte
        main > p            => tous les éléments p enfants directs d'un élément main
                            le chevron fermant > entre les deux éléments indique une filiation directe.
        p#special           => un élément p avec id="special"
        .toto.tata          => un élément ayant au moins les deux classes suivantes toto et tata
        .toto .tata         => un élément ayant au moins la classe tata enfant direct ou indirect d'un élément ayant au moins la classe toto
    
    Pseudo sélecteurs (sélécteur qui permet des "tri" ou des "filtres" sur des sélecteurs )
        p:nth-of-type(odd)  => tous les paragraphes du document en position impaire
                            nth-child() le(s) nième(s) enfant(s)
                            les paramètres : 
                                odd => impaire - event => paire, Xn => tous les X enfants , Y => le Yème
                                2n+1

        article:last-child:nth-of-type(4n+3)    => l'article doit être le dernier article et le troisième article d'une ligne de 4
                                                paramètres :    4n => le nombre d'élément par ligne
                                                                +3 => le troisième de la ligne

*/

/* Les imports doivent toujours être fait en premier sur un fichier CSS */

@import url('./edosz.css');
@import url('./roboto.css');
@import url('./bootstrap-icons.css');

/* surcharge de la racine */
:root{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    --custom-font-size: 1.1rem;
    font-size: var(--custom-font-size);
    line-height: 1.7rem;
    --base-goutiere: 0.5rem;
    --goutiere-w: var(--base-goutiere);
    --goutiere-h: calc( var(--base-goutiere) * 2 );
    --liens-page: darkred;
    --liens-page-1-2: rgba(139, 0, 0, 0.5);
    --liens-page-1-4: rgba(139, 0, 0, 0.25);
    --liens-page-hover: rgb(210, 70, 0);
    --liens-page-hover-1-2: rgba(210, 70, 0, 0.5);
    --liens-nav: white;
    --bg-nav: rgb(0, 0, 0);
    --bg-nav-25: rgba(0, 0, 0, 0.25);
    --liens-nav-hover: var(--bg-nav);
    --bg-nav-hover: var(--liens-nav);
    --heading-font: 'edosz';
}

/* Déclaration générales */

*, *::before, *::after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    line-height: calc( var(--custom-font-size) *2 );
    font-family: var(--heading-font);
    letter-spacing: 2px;
}

pre{
    white-space: pre-wrap;

}

a{
    text-decoration: none;
    color: var(--liens-page);
}

a:hover, a:focus{
    color: var(--liens-page-hover);
}

p a::before{
    font-family: 'bootstrap-icons';
    content: "\f470";
    display: inline-block;
    font-size: 1.1rem;
}

video{
    background-color: var(--bg-nav);
}

form{
    margin: 0 auto;
    /* équivalent à 
    margin-left: auto;
    margin-right: auto;
    */
}

form fieldset{
    border-width: 1px;
    border-style: solid;
    border-color: var(--bg-nav);
    border-radius: var(--base-goutiere);
}

form label{
    display: inline-block;
    width: 280px;
}

form input, form select{
    line-height: 1.5rem;
    font-size: 1.1rem;
    padding-left: var(--base-goutiere);
    padding-right: var(--base-goutiere);
    border-radius: 0.2rem;
    width: 300px;
    border: 1px solid var(--bg-nav);
}

form input[type="checkbox"],
form input[type="radio"]{
    width: 15px;
}

form textarea{
    width: 100%;
    height: 200px;
    
    border-radius: 0.2rem;
    border: 1px solid var(--bg-nav);
}

/* Déclaration classes */

.tm ol{
    list-style-type: upper-roman;
}

.tm li::marker{
    color: var(--liens-page);
}

.rouge-gras{
    color: #8b0000;
    font-weight: bold;
}

.content-width{
    box-sizing: content-box;
}

.border-width, .content-width{
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    margin: 0.5rem;
}

.deux-em, .deux-rem{
    margin: 10px;
    border: 1px solid black;
}

.deux-em{
    font-size: 2em;
}

.deux-rem{
    font-size: 2rem;
}

.x2{
    --element-font-size : calc( 2 * var(--custom-font-size));
    font-size: var(--element-font-size);
    --alignement: calc( var(--element-font-size) / 2 );
}

.x3{
    --element-font-size : calc( 3 * var(--custom-font-size));
    font-size: var(--element-font-size);
    --alignement: calc( var(--element-font-size) / 3 );
}

.top-page{
    position: fixed;
    bottom: 2rem;
}

.centered{
    left: calc( 50vw - var(--alignement) )  ;
}

.right{
    right: 2rem;
}

.top-page a{
    color: var(--liens-page-1-2);
}

.top-page a:hover{
    color: var(--liens-page-hover-1-2);
}

.left{
    float: left;
    margin-right: var(--base-goutiere);
}

.right{
    float: right;
    margin-left: var(--base-goutiere);
}

.clear{
    clear: both;
}

.warning{
    text-transform: uppercase;
}

.warning::before, .warning::after{
    font-family: 'bootstrap-icons';
    color: orangered;
    content: "\f336";
    padding-left: var(--base-goutiere);
    padding-right: var(--base-goutiere);
}

table#tabTest{
    border-collapse: collapse;
}

table#tabTest td{
    border: 1px solid black;
}

.table{
    border-collapse: collapse;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.table tr > *{
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 var(--base-goutiere);
}

.table th{
    background-color: var(--bg-nav);
    color: var(--liens-nav);
}

.table > tbody > tr:nth-last-of-type(odd){
    background-color: var(--bg-nav-25);
}

.table tr > th:first-child{
    text-align: left;
}

.table tr > td{
    text-align: right;
}

.table-display{
    width: 100%;
    overflow-x:auto;
}

#exo-nav{
    border-collapse: collapse;
}

#exo-nav tr > *{
    border: 1px solid var(--liens-page);
    padding: var(--base-goutiere);
}

#exo-nav tr th{
    background-color: var(--liens-page);
    color: var(--liens-nav);
}

#exo-nav tr td{
    text-align: right;
}

#exo-nav tbody tr{
    background-color: var(--liens-page-1-4);
    &:hover{
        background-color: var(--liens-page-1-2);
    }
}
/* Déclaration structure */

body{
    margin: 0;
}

body > header{
    background-color: var(--bg-nav);
    color: var(--liens-nav);
    padding: 1rem;
    text-align: center;
}

body > nav ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
    line-height: 2rem;
}

body > nav ul li{
    border-bottom: 1px solid var(--liens-nav);
    &:hover, &:focus{
        border-bottom: 1px solid var(--liens-nav-hover);
    }
}

body > nav ul a{
    display: block;
    color: var(--liens-nav);
    background-color: var(--bg-nav);
    padding: var(--base-goutiere);
    &:hover, &:focus{
        color: var(--liens-nav-hover);
        background-color: var(--bg-nav-hover);
    }
}

body > main article, 
body > main aside{
    margin: var(--goutiere-h) var(--goutiere-w);
}

