/*
Unités de dimension les plus utilisés en web

px          =>  Pixel
em          =>  cadratin : unité de mesure en print sur les presses. 
                le cadratin se calcul part rapport à la taille de la police dans l'élément parent
rem         =>  cadratin racine : se calcul part rapport à la taille de la police dans l'élément racine
%           =>  Pourcentage, de l'espace disponible autour de l'élément
vw & vh     =>  vw : viewport width; vh : viewport height

*/

/* surcharge de la racine */
:root{
    font-family: Arial, Helvetica, sans-serif;
}

/* Déclaration générales */

*, *::before, *::after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

/* Déclaration classes */

/* Déclaration structure */

body{
    margin: 0;
}